*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1 rem is defined below
  font-size: 62.5%;

  // @include respond-phone {
  //   font-size: 50%;
  // }

  // // phone
  // @include respond(phone) {
  //   font-size: 50%;
  // }
  // tab landscape
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16*100
  }
  // tab port and phone
  @include respond(tab-port) {
    font-size: 50%;
  }
  // big-desktop
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
